streamlit
numpy
pydantic
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-groq
langchain-huggingface
sentence-transformers
unstructured
pypdf
protobuf<4.0.0
pysqlite3-binary
torch
torchvision
